body{
	font-size: 30px;
	font-family: 'Verdana', sans-serif;
	margin: 0px;
	padding: 0;
	background-color: #fff;
}

a {
	text-decoration: none; 
	color: black;
}

a:hover {
	color: #b8af6a
}

.logo a {
	color: white;
}

.logo a:hover {
color: white;
}

.header{
margin: 0;
padding: 0;
background:#000000;
color: #f9fafc;
height: 70px;
}

.header p{
	margin-top: 0px;
	padding-top: 40px;
	padding-left: 90px;
	font-family: 'Gautami Regular', sans-serif;
	text-transform: uppercase;
	letter-spacing: 145px;
	font-size: 40px;
	text-align: center;
}

.header h2 {
	text-align: right;
	color: white;
	font-size: 20px;
	
}


/*search window*/



/*search window end*/


#main-menu {
background-color: black;
height: 60px;
display: block;
padding-top: 1px;
padding-bottom: 15px;
font-size: 28px;
text-transform: uppercase;
font-family: 'Roboto' sans-serif;
color: white;
}

#main-menu ul {
text-align: center;

}

#main-menu ul li {
	color: black;
	position: relative;
	list-style: none;
	margin-bottom: 15px;
	display: inline;
	margin-right: 55px;

}

#main-menu ul li a {
	text-decoration: none; 
	color: white;
}

#main-menu ul li a:hover {
	color: #b8af6a
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!drop menu!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!     */
#main-menu .drop-down{
	position: absolute;
	border-radius: 9px;
	padding: 0;
	margin: 0;
	top: 100%;
	left: 10px;
	width: 250px;
	font-size: 20px;
	text-align: left;
	padding: 20px;
	background-color:#000;
	display: none;
}

#main-menu li:hover .drop-down{
	display: block;
}

#main-menu .drop-down li {
	color: #fff;
	width: 190%;
	height: 90px;
	
}

#main-menu .drop-down li a {
	line-height: 45px;
	height: 45px;
	color: #fff;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!drop menu end!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!     */

.content{
display: block;
margin: 0;
padding: 0;
min-height: 1000px;
background-image: url("img/1.jpg");
background-repeat: no-repeat;
background-position: center bottom;
background-size: 100%;
background-size: cover;
}


.footer{
background:#000;
color: #fff;
font-size: 30px;
min-height: 130px;
position: bottom;
} 

.footer p {
	display: inline-block;
	margin-top: 45px;
	margin-left: 250px;
	padding-left: 10px;
	margin-right: 20px;
}



 .wiget-socials {
   list-style: none;
   display: inline-block;
   float: right;
   margin-top: 45px;
   margin-right: 45px;
   letter-spacing: 20px;
 }

 .wiget-socials a {
 	text-decoration: none;
 }